@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
html {
  background-color: #fcc9c5;
}
body {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  transition: all 1s;
  color: #393939;
}

h1 {
  font-size: 2.5rem;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-out;
  filter: blur(1px);
  opacity: 0.3;
}

button:hover {
  transform: scale(1.1);
  filter: blur(0px);
  opacity: 1;
}

.hidden {
  display: none;
}
